.ml {
  margin-left: 0.5rem !important;
}

.mr {
  margin-right: 0.5rem !important;
}

.mt {
  margin-top: 0.5rem !important;
}

.mb {
  margin-bottom: 0.5rem !important;
}

body {
  padding-top: 65px;
}

.card {
  margin: 0px auto;
  width: 15rem;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
